/* Variables */

:root {
    /* COLORS */
    --light-main: #fff;
    --dark-main: rgb(48, 49, 54);
    --accent-one: rgb(130, 10, 141);
    --accent-two: rgba(245, 140, 255, 0.89);
    --type-light: ;
    --type-dark: ;

    /* FONTS */
    --heading-font:  'Righteous', cursive;
    --p-font: 'League Spartan', sans-serif;

    /* TYPE */
    --heading-size: 4rem;
    --semi-heading-size: 2rem;
    --body-size: 1.1rem;
} 

/* Element Styling */

img{
    width: auto;
    height: auto;
}
body{
    background-color: var(--dark-main);
    font-family: var(--p-font);
    /* font-size: var(--body-size); */
}
label {
    display: inline-block;
}

li {
    color: var(--light-main);
    background-color: var(--accent-one);
    border-radius: 5px;
    margin-bottom: 1vh;
    padding: .3vh;
}

/* Class Styling */
.title {
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    color: var(--light-main);
}

.box {
    display: flex;
    flex-direction: column;
}

/* User List Elements */
.userList {
    background-color: var(--accent-two);
    height: 50vh;
    margin: 1vh 2vw;
    border-radius: 10px;
}

/* Trade Summary Element */
.tradeSummary {
    background-color: var(--accent-two);
    height: 5vh;
    margin: 2vh;
    border-radius: 10px;
    color: var(--light-main);
}

.cardPrice {
    background-color: var(--accent-two);
    height: 7vh;
<<<<<<< HEAD
    margin: -10vh 0 0 0;
=======
>>>>>>> 7897abdd816e46873a58a57efe558bebd74b0351
    border-radius: 10px;
}

.subtitle {
    color: white;
}


/* ID Styling */

#add-item-one {
margin: 0 0 0 5vw;
}

#add-item-two {
position: absolute;
right: 5%;
}

#modal-heading {
    /* Deco */
    text-align: center;
    font-family: var(--heading-font);
}

#form-contain {
    /* Layout */
    width: 100%;
    height: 50vh;
    /* Display Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#preview-section {
    /* Layout */
    height: 90%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#modal-preview {
    width: 60%;
}

#price-preview {
    width: 50%;
    /* Deco */
    text-align: center;
}

#display-card-price {
    color: var(--light-main);
}

/* Modal Form Styling */

#search-form {
    /* Layout */
    height: 65%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* gradients */
#gradient-one{
    background-image: linear-gradient(to left, red, green);
}

#gradient-two{
    background-image: linear-gradient(to right, red, green);
}
#equal-background{
    background-image: green;
}

#card-preview {
    margin: -7vh 0 0 0;
}

/* Media Queries */

/* Animations */