/* Variables */

:root {
    /* COLORS */
    --light-main: #fff;
    --dark-main: rgb(48, 49, 54);
    --accent-one: rgb(130, 10, 141);
    --accent-two: rgba(245, 140, 255, 0.89);
    --type-light: ;
    --type-dark: ;

    /* FONTS */
    --heading-font:  'Righteous', cursive;
    --p-font: 'League Spartan', sans-serif;

    /* TYPE */
    --heading-size: 4rem;
    --semi-heading-size: 2rem;
    --body-size: 1.1rem;
} 

/* Element Styling */

img{
    width: auto;
    height: auto;
}
body{
    background-color: var(--dark-main);
    font-family: var(--p-font);
    /* font-size: var(--body-size); */
}
label {
    display: inline-block;
}

li {
    color: var(--light-main);
    background-color: var(--accent-one);
    border-radius: 5px;
    margin-bottom: 1vh;
    padding: .3vh;
}

li p {
    text-shadow: 2px 2px 2px black;
}
/* Class Styling */
.title {
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    color: var(--light-main);
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.445);
}

.box {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-main);
    color: var(--light-main);
}

/* User List Elements */
.userList {
    background-color: var(--accent-two);
    height: 50vh;
    margin: 1vh 2vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

/* Trade Summary Element */
.tradeSummary {
    background-color: var(--accent-two);
    height: 5vh;
    margin: 2vh;
    border-radius: 10px;
    color: var(--light-main);
    box-shadow: 5px 5px 10px black;
    text-shadow: 2px 2px 2px black;
}

.cardPrice {
    background-color: var(--accent-two);
    height: 7vh;
    margin: -1vh 0 0 0;
    border-radius: 10px;
    opacity: 90%;
    box-shadow: 5px 5px 10px black;
}

.subtitle {
    color: var(--light-main)
}

.modal-content {
    height: 80vh;
    width: 50vw;
}

.box {
    height: 68vh;
    text-shadow: 2px 2px 2px black;
}


/* ID Styling */

/* Avatar */

#user-one-avatar, #user-two-avatar {
    max-width: 7.5vw;
    border-radius: 20px;
}

#user-one-avatar {
    position: relative;
    left: 2vw;
}

#user-two-avatar {
    position: absolute;
    right: 2vw;
}

#leftContainer {
    position: relative;
    left: 19vw;
}

#rightContainer {
    
    position: relative;
    right: 19vw;
}

#username-one {
    position: relative;
    right: 17vw;
}

#username-two {
    position: relative;
    left: 17vw;
}
/* Modal */

/* Confirm Button */

#confirm-card {
    /* Layout */
    padding: 1vh;
    margin-top: 10vh;
    /* Deco */
    color: var(--light-main);
    background-color: var(--accent-one);
    border-radius: 10px;
}

#modal-heading {
    /* Layout */
    padding-bottom: 3vh;
    /* Deco */
    text-align: center;
    font-family: var(--heading-font);
}

#form-contain {
    /* Layout */
    width: 100%;
    /* Display Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#preview-section {
    /* Layout */
    height: 100%;
    width: 50%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#modal-preview {
    max-width: 70%;
}

#price-preview {
    /* Layout */
    padding: 3vh;
    /* Deco */
    text-align: center;
}

#display-card-price {
    color: var(--light-main);
    text-shadow: 2px 2px 2px black;
}

/* Modal Form Styling */

#search-form {
    /* Layout */
    height: 100%;
    width: 50%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



/* Gradients */
#gradient-one{
    background-image: linear-gradient(to left, red, green);
}

#gradient-two{
    background-image: linear-gradient(to right, red, green);
}
#equal-background{
    background-image: green;
}

#card-preview {
    margin: -9vh 0 0 0;
}

/* Media Queries */
/* @media screen and (min-width: 1920px) {
    .leftButtons {
        position: relative;
        margin-left: -5vw;
    }
    
    .rightButtons {
        position: relative;
        margin-right: -20vw;
    }
    
} */
/* Animations */